<div class="page-footer">

  <div class="margin-sm">
    <ul class="inline-list">
      <li><a href="http://www.isdi.es/aviso-legal" rel="nofollow" target="_blank">{{ i18n.pie.aviso-legal }}</a></li>
      <li><a href="http://www.isdi.es/politica-de-privacidad" rel="nofollow" target="_blank">{{ i18n.pie.politica-privacidad }}</a></li>
      <li><a href="politica-cookies.html" rel="nofollow" target="_blank">{{ i18n.pie.cookies}}</a></li>
      <li><a href="{{ i18n.pie.contacto_url }}" target="_blank" rel="nofollow">{{ i18n.pie.contacto }}</a></li>
    </ul>
  </div>

  <a href="#top" class="go-to-top-icon js-scroll-top">
    <span class="sr-only">
      Ir al comienzo de la página
    </span>
  </a>
  
</div>